{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h1>{{title}}</h1>
  </div>
  <div class="col-4">
    {% now "jS F Y H:i" as date_now %}
    <h3>{{date_now}}</h3>
  </div>
  <div class="col-4">
    <a class="btn btn-primary" href="{% url 'star-create' %}">Create</a>
  </div>
</div>
{% regroup star_list by starsystem as stars %}
{% for starsystem in stars %}
<h1>{{starsystem.grouper}}</h1>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Diameter</th>
        <th scope="col">Color</th>
        <th scope="col">StarSystem</th>
    </tr>
  </thead>
    <tbody>
      {% for star in starsystem.list %}
      <tr>
          <th scope="row"><a href="/star/{{star.id}}">{{star.name}}</a></th>
          <td>{{star.diameter}}</td>
          <td>{{star.color}}</td>
          <td>{{star.star_system}}</td>
      </tr>
      {% endfor %}
    <tbody>
</table>
{% endfor %}
{% endblock content %}